*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f2f2f2;
}
#top-menu{
    padding: 10px;
    background-color: #272727;
    z-index: 200;
    position: absolute;
    width: 100%;
}
#box{
    text-align: center ;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
}


#menu-open{
    float: right;
    color: #f2f2f2;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 25px;
}
#menu-close{
    float: right;
    color: #f2f2f2;
    position: absolute;
    top: 170px;
    right: 50px;
    font-size: 25px;
    display: none;
}
#menu{
    display: none;
}
.menu-part{
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    vertical-align: top;
}
.menu-part h3{
    font-size: 30px;
}
.menu-part li{
    list-style-type: none;
}
.menu-part a{
    color: #fff;
    text-decoration: none;
}
.menu-part a:hover{
    text-decoration: underline;
}
.logoanimleft{
    animation: EMITLogo 1s ease-in-out forwards;
    text-align: left;
}
.logoanimright{
    animation: EMITLogo2 1s ease-in-out forwards;
    text-align: left;
}
.arrowanimdown{
    animation: arrowAnim 1s ease-in-out forwards;
}
.animatedMenu{
    animation: menuAnim .5s ease-in-out forwards;
}
.animatedMenuOut{
    animation: menuOut .5s ease-in-out forwards;
}
#nasa{
    opacity: 0;
    max-width: 7%;
    right: 80px;
    top: 140px;
    position: absolute;
}
.nasaAnim{
    animation: nasa 1s ease-in-out forwards;
}
#emitimg{
    height: 400px;
    width: 400px;
    position: relative;
    margin-top: 50px;
    border-radius: 2000px;
    margin-top: 100px;
    position: absolute;
    top: 0;
}
#headerText{
    position: absolute;
    top: 100px;
    color: #f2f2f2;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 300px;
    font-size: 140px;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    background-image: url(images/emit3.png); 
            background-repeat: repeat; 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
            -webkit-font-smoothing: antialiased;
    animation: aboutAnim 1s ease-in-out forwards;
}
#bgvideo{
    width: 100%;
    max-height: 100%;
}
#text{
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
    text-shadow: 1px 1px #f2f2f2;
}
#text1{
    animation: textAnim1 2s ease-in-out forwards;
    transition: all .5s;
    float: right;
    text-align: justify;
    max-width: 50%;
    display: block;
}

#text2{
    animation: textAnim2 2s ease-in-out forwards;
    margin-top: 300px;
    max-width: 90%;
    display: block;

}
#meteor{
    z-index: -5;
    position: absolute;
    top: 0;
    right: 10px;
    animation: meteorAnim 2s ease-in-out forwards;
}
#bigStart{
   

}
@keyframes EMITLogo{
    0%{transform: translateX(0);  text-align: center;}
    100%{transform: translateX(-500px); text-align: center;}
}
@keyframes EMITLogo2{
    0%{transform: translateX(-500px);  text-align: center;}
    100%{transform: translateX(0); text-align: center;}
}
@keyframes arrowAnim{
    0%{transform: translateY(0);}
    100%{transform: translateY(-100%); transform: scaleY();}
}
@keyframes menuAnim{
    0%{transform: translateY(-500px);}
    100%{transform: translateY(0);}
}
@keyframes menuOut{
    0%{transform: translateY(0);}
    100%{transform: translateY(-500px);}
}
@keyframes nasa{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}
@keyframes aboutAnim{
    0%{top: 300px; font-size: 140px;}
    100%{top: 140px; font-size: 80px;}

}
@keyframes textAnim1{
    0%{transform: translateX(-1000px);}
    100%{transform: translateX(0px);}
}
@keyframes textAnim2{
    0%{transform: translateX(1000px);}
    100%{transform: translateX(0px);}
}
@keyframes meteorAnim{
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-70%, 100%);
        }
        


    }
@keyframes bigStart{
        0%{transform: translateY(500px);}
        100%{transform: translateY(0);}

    }